<div class="top">
  <%= render 'shared/header' %>
  <div class="container top-form">
    <div class="text-signup"><span class="text-s">S</span>ignUp</div>
    <div class="form-container">
      <div class="form-field">
        <div class="device-inner"  id='app'>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div :class="{field1: !validateUserName || !validation.userName}" class="field">
              <div class="input-icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <div class="input-slot">
                <div class="input-field">
                  <%= f.text_field :name, class: "form-input", "@blur" => "onBlurUserName(); onBlur()", "v-model" => "userInfo.userName", "required" => "required" %>
                  <%= f.label :name do %><div :class="{formLabel: !validation.userName}">※Name</div><% end %>
                </div>
                <div class="input-messages">
                  <div v-show="!validateUserName" class="text-warning">ユーザー名は60文字以内で入力してください</div>
                  <div v-show="!validation.userName" class="text-warning">必須項目です</div>
                </div> 
              </div>
            </div>

            <div :class="{field1: !validateEmail || !validation.email}" class="field">
              <div class="input-icon">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="input-slot">
                <div class="input-field">
                  <%= f.email_field :email, autocomplete: "email", class: "form-input", "@blur" => "onBlurEmail(); onBlur()", "v-model" => "userInfo.email" %>
                  <%= f.label :email do %><div :class="{formLabel: !validation.email}">※e-mail</div><% end %>
                </div>
                <div class="input-messages">
                  <div v-show="!validateEmail" class="text-warning">正しいメールアドレスを入力してください</div>
                  <div v-show="!validation.email" class="text-warning">必須項目です</div>
                </div>
              </div>
            </div>

            <div :class="{field1: !validatePassword || !validation.password}" class="field">
              <div class="input-icon">
                <i class="fa-solid fa-lock"></i>
              </div>
              <div class="input-slot">
                <div class="input-field">
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-input", "@blur" => "onBlurPassword(); onBlur()", "v-model" => "userInfo.password" %>
                  <%= f.label :password do %><div :class="{formLabel: !validation.password}">※Password</div><% end %>
                  <span class="field-icon"><i class="fa-sharp fa-solid fa-eye-slash" @click = "onclick"></i></span>
                </div>
                <div class="input-messages">
                  <div v-show="!validatePassword" class="text-warning">パスワードは8文字以上で大文字のアルファベットと記号(./?-)を含めて入力してください</div>
                  <div v-show="!validation.password" class="text-warning">必須項目です</div>
                </div>
              </div>
            </div>

            <div :class="{field1: !validatePasswordConfirmation || !validation.passwordConfirmation}" class="field">
              <div class="input-icon">
                <i class="fa-solid fa-check-double"></i>
              </div>
              <div class="input-slot">
                <div class="input-field">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input", "@blur" => "onBlurPasswordConfirmation(); onBlur()", "v-model" => "userInfo.passwordConfirmation" %>
                  <%= f.label :password_confirmation do %><div :class="{formLabel: !validation.passwordConfirmation}">※Password(confirmation)</div><% end %>
                  <span class="field-icon"><i class="fa-sharp fa-solid fa-eye-slash" @click = "onclick"></i></span>
                </div>
                <div class="input-messages">
                  <div v-show="!validatePasswordConfirmation" class="text-warning">パスワードと値が異なります</div>
                  <div v-show="!validation.passwordConfirmation" class="text-warning">必須項目です</div>
                </div>
              </div>
            </div>

            <div class= "form-actions">
              <div class= "form-link-log">
                <%= link_to users_guest_sign_in_path, method: :post do %>
                  <button class= "btn-link" >Guest Login</button>
                <% end %>
              </div>
              <%= f.submit "SIGN UP", id: "SignUp", class: "form-sign-up", "v-bind:disabled" => "!validationSignUp" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
