<!DOCTYPE html>
<html>
  <head>
    <title>Craftsman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <script src="https://kit.fontawesome.com/87de6304b2.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body id="body">
    <header>
      <div class="header-inner">
        <div class="header-left-nav">
          <%= link_to "CraftsMan", root_path, class: "mx-3 link title" %>
        </div>
        <div class="header-right-nav">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown__item-link"%>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary mx-3 my-2" %>
          <%= link_to "登録する", new_user_registration_path, data: {"turbolinks" => false}, class: "btn btn-secondary" %>
          <%= link_to "編集", edit_user_registration_path%>
        </div>
      </div>
    </header>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
